header, main {
min-width: 1340px;
}

header, h1 {
    background: white;
    overflow: auto;
    padding-left: 100px;
}

header h1 {
    float: left;
    font-size:50px;
}

header, nav {
    float: right;
}

main, h2, h3, h4, h5, p, ul {
    background: white;
    padding-left: 100px;
}

img
{
    position:absolute;
    left: 800px;
    top: 100px;
}

footer, .Sitemap, h5, p
{
    background: grey;
}