header, main, footer {
min-width: 855px;
}

body {
    background: #f9e993;
}

header .container, main .container, footer .container {
    max-width: 855px;
}

header {
    background: white;
    overflow: auto;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

main {
    background: white;
}